<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <!--The "img" element introduces an image to my webpage-->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith Logo">
    <!--The code below introduces a first level header, the largest header-->
    <h1>This is an about me page for Matthew Greenawalt</h1>
    <h2>My Student Life</h2>
        <p>These are the major accomplishments of my student life</p>
        <p>
            <ul>
                <li>Entered into a <strong>competitive</strong>private high school</li>
                <li>Excelled in school with numerous APs</li>
                <li>Found interest in sports, specifically <strong>golf and lacrosse</strong></li>
                <li>Accepted into UMD as a public leadership scholars student </li>
            </ul>
        </p>
    <!--This is the second of my 2nd level headers, which is a list of my favorite foods-->
    <h2>My Favorite Foods</h2>
    <p>These are my favorite foods as of <em>February, 2023</em></p>
        <p>
            <ol>
                <li>Fried Rice, but especially <em>Chicken Fried Rice</em></li>
                <li>Pasta with Pesto and Salmon</li>
                <li>Chicken Wings</li>
                <li>Pizza</li>
            </ol>
        </p>
    <h2>Courses Taken in College</h2>
    <p>This is a small table with a few courses I have taken in College</p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>

        <tr>
            <td>BMGT 302</td>
            <td>Spring 2022</td>
        </tr>

        <tr>
            <td>BMGT 402</td>
            <td>Fall 2022</td>
        </tr>

        <tr>
            <td>BMGT 380</td>
            <td>Fall 2021</td>
        </tr>
    </table>
    <!--These are links to two of my favorite websites, and a link to another page-->
    <p>This is a link to <a href="https://youtube.com" target="_blank">Youtube</a>.</p>
    <p>This is a link to <a href="https://www.chess.com/">Chess.com</a>.</p>
    <p>This is a link to <a href="/hello">the Hello page</a>.</p>
</body>
</html>